<%- include('partials/header') %>

<nav class="main-nav-flex">
  <div class="nav-flex-container">
    <div class="nav-flex-item">
      <div class="brand-link">
        <a href="/">
          <div class="sec-brand-img">
            <img src="images/for_brand.png" alt="brand_logo">
          </div>
        </a>
      </div>
    </div>
    <div class="push-right">
      <div class="flex-right-item">
        <a href="/logout">
          <h4 class="logout">logout</h4>
        </a>
      </div>
      <div class="flex-right-item">
        <a href="/submit">
          <h4>Add a secret</h4>
        </a>
      </div>
    </div>
  </div>
</nav>

<section id="main-content">
<div class="flex-main-container">
    <% secret.forEach(function(secret, indx){%>
      <div class="main-items">
        <div class="main-item-txt">
          <p class="secret-text">
            <%=secret.desc%>
          </p>
        </div>
        <div class="info-push-btm">
          <hr>
          <div class="flex-info-container"> 
            <div class="info-item info-date"><%=secret.dateAdded%></div>
            <div class="info-item info-likes">
              <form id action="/addRemoveLike" method="POST">
                <button class="like-btn" type="submit" name="secretId" value="<%=secret._id%>">
                 <% if(userLiked.some(post => post._id == secret._id)){%>
                  <span class="material-symbols-outlined hitted-like">
                    favorite
                    </span>
                  <%}else {%>
                    <span class="material-symbols-outlined">
                      favorite
                      </span>
                  <%}%>
                </button>
              </form>
              <p value="<%=userLiked%>"><%=secret.totalLikes%></p>
            </div>
          </div>
        </div>
      </div>
    <%})%>
</div>
  
</section>
  

  <%- include('partials/footer') %>